/* Asterisk Classses */
* {
    padding: 0;
    margin: 0;

    cursor: url(../img/cursor.cur), auto;
    font-family: monospace;
}

.container {
    width: 70%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.outline {
    padding: 10px;
    border: solid 1px black;
}

main {
    height: 100%;
}
/* UI */

/* Title */
h1 {
    text-align: center;
}

/* Control Panel */
#control-panel {
    float: left;
    margin-top: 10px;
    min-width: 20%;
}

#control-panel span {
    font-size: 20px;
    font-weight: bold;
}

#mine-button {
    width: 60px;
    height: 60px;
    float: right;
}

#mine-button img {
    width: 80%;
    height: 80%;
}

/* Buy Menu */
#buy-menu {
    float: right;
    text-align: center;
    margin-top: 10px;
}

#buy-menu *, #control-panel * {
    margin: 5px 0;
}

/* Buy Menu Buttons */


.purchase-button {
    position: relative;
    width: 300px;
    height: 80px;
    outline: solid black 1px;
    user-select: none;

    background: linear-gradient(to bottom right, white, lightgrey);
}

.purchase-button span {
    font-weight: bold;
}

.purchase-button:hover {
    background: white;
}

.purchase-button:active {
    outline: solid black 2px
}

#cost {
    font-weight: bold;
}
